:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f8fafc;
  color: #0f172a;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
